/* Globalni stilovi */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  width: auto;
}


main {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

main h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin: 0 auto;
  padding-left: 20px;
  border-bottom: solid 2px #333;
}
main h2 {
  font-size: 1.5rem;
  color: #3b3b3b;
  margin-top: 30px;
  padding-left: 20px;
}

nav {
  background-color: #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
  display: block;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Sekcija članaka */
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

article {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

article img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

article h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

article h2 a {
  text-decoration: none;
  color: #333;
}

article h2 a:hover {
  color: #007bff;
}

article .date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

article p {
  margin-bottom: 10px;
  line-height: 1.5;
}

article .read-more {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

article .read-more:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 10px 0;
  font-size: 0.9rem;
}
